<!-- footer-->
<div class="footer-wrap">
    <div class="footer-nav">
        <ul >
            <a href="{siteurl($siteid)}">
                <li>
                    首页&nbsp;&nbsp;&nbsp;
                </li>
            </a>
            <a href="{$CATEGORYS[11]['url']}">
                <li>
                    &nbsp;&nbsp;&nbsp;{$CATEGORYS[11]['catname']}&nbsp;&nbsp;&nbsp;
                </li>
            </a>
            <a href="{$CATEGORYS[10]['url']}">
                <li style="border: none">
                    &nbsp;&nbsp;&nbsp;{$CATEGORYS[10]['catname']}
                </li>
            </a>
        </ul>
    </div>
    <p class="copyright">@<?php echo date('Y'); ?> 芜湖恒信汽车内饰制造有限公司</p>
</div>
<!-- end footer-->
<!-- top-->
<a href="">
    <div class="top"></div>
</a>
<!-- end top-->
</div>
</body>

<script src="phone/js/unslider.js"></script>
<script src="phone/js/index_phone.js"></script>

</html>