<!-- footer-->
<div class="footer-wrap">
    <div class="footer-nav">
        <ul >
            <a href="">
                <li>
                    首页&nbsp;&nbsp;&nbsp;
                </li>
            </a>
            <a href="">
                <li>
                    &nbsp;&nbsp;&nbsp;产品中心&nbsp;&nbsp;&nbsp;
                </li>
            </a>
            <a href="">
                <li style="border: none">
                    &nbsp;&nbsp;&nbsp;公司介绍
                </li>
            </a>
        </ul>
    </div>
    <p class="copyright">@2015 hengxin 皖B2-20090028</p>
</div>
<!-- end footer-->
<!-- top-->
<a href="">
    <div class="top"></div>
</a>
<!-- end top-->
</div>
</body>
<script src="phone/js/jquery-2.1.4.min.js"></script>
<script src="phone/js/unslider.js"></script>
<script src="phone/js/index_phone.js"></script>
</html>