{php wmlHeader();}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="MobileOptimized" content="240"/>
    <meta name="format-detection" content="telephone=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-itunes-app" content="app-id=580092746">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, max-age=0">
    <title>{$WAP['sitename']}</title>
    <link rel="stylesheet" href="phone/css/phone_base.css">
    <link rel="stylesheet" href="phone/css/hx_phone.css">
<body>
<div class="container">

    <!-- header-->
    <header class="header pfixed">
       <a href="#"> <img class="mt10 fl" src="phone/images/logo.png" alt="" width="213"></a>
        <div class="fr right-menu" data-menu="0"></div>
    </header>
    <!-- end header-->
    <!-- right-menu-->
    <div class="menus hide">
        <div class="mui-flex">
            <a href="" class="cell">
                <img src="phone/images/gongsi.png" alt="" height="18">
                <p>公司概况</p>
            </a>
            <a href="" class="cell">
                <img src="phone/images/zhaopin.png" alt="" height="18">
                <p>人才招聘</p>
            </a>
        </div>
        <div class="mui-flex">
            <a href="" class="cell">
                <img src="phone/images/chanpin.png" alt="" height="18">
                <p>产品中心</p>
            </a>
            <a href="" class="cell">
                <img src="phone/images/zhiliang.png" alt="" height="18">
                <p>质量体系</p>
            </a>
        </div>
        <div class="mui-flex">
            <a href="" class="cell">
                <img src="phone/images/xinwen.png" alt="" height="18">
                <p>新闻动态</p>
            </a>
            <a href="" class="cell">
                <img src="phone/images/shebei.png" alt="" height="18">
                <p>厂房设备</p>
            </a>
        </div>
    </div>
    <!-- end right menu-->