{template "content","header"}
<!--中间内容-->
<div class="Introduce">
    <div class="Introduce-center">
        <div class="video-content">
            <p class="video-content-link">
                <a href="javascript:;"><span>首页</span></a>-<a href="javascript:;"><span>套餐介绍</span></a></p>
        </div>
        <div class="Introduce-top">
            <img class="img-r fl" src="images/oushi.png"/>
            <img class="img-r fl" src="images/meishi.png"/>
            <img class="img-r fl" src="images/zhongshi.png"/>
            <img class="img-r fl" src="images/xingudian.png"/>
            <img class="img-r fl" src="images/xiandai.png"/>
            <img class="img-r fl" src="images/houxiandai.png"/>
            <img class="img-r fl" src="images/xiandaijiayue.png"/><img class="abundant-pic fl"
                                                                       src="images/dongnanya.png"/>
        </div>
        <div style="width:823px;height:1740px" class="fl">
            <div class="Introduce-middle fl">
                <img class="Introduce-middle-img fl" src="images/introduce.png"/>
                <img class="sign" src="images/tuijian.png"/>

                <div class="Introduce-middle-right fl">
                    <a href="javascript:;"><p class="Introduce-middle-right-title">套餐一的名称 或许大概这里有点长</p></a>

                    <p class="Introduce-middle-right-span">
                        套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍。套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍。</p>

                    <p class="hana-span fl"><a href="javascript:;"> <img src="images/hand.png"/></a>
                        <span class="hind">1888</span></p>
                    <a href="javascript:;">
                        <div class="look fr">查看详情</div>
                    </a>
                </div>
            </div>
            <div class="Introduce-middle fl" style="margin-top:22px">
                <img class="Introduce-middle-img fl" src="images/introduce.png"/>
                <img class="sign2" src="images/tuijian.png"/>

                <div class="Introduce-middle-right fl">
                    <a href="javascript:;"><p class="Introduce-middle-right-title">套餐一的名称 或许大概这里有点长</p></a>

                    <p class="Introduce-middle-right-span">
                        套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍。套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍。</p>

                    <p class="hana-span fl"><a href="javascript:;"> <img src="images/hand.png"/></a>
                        <span class="hind">1888</span></p>
                    <a href="javascript:;">
                        <div class="look fr">查看详情</div>
                    </a>
                </div>
            </div>
            <div class="Introduce-middle fl" style="margin-top:22px">
                <img class="Introduce-middle-img fl" src="images/introduce.png"/>
                <img class="sign" src="images/tuijian.png"/>

                <div class="Introduce-middle-right fl">
                    <a href="javascript:;"><p class="Introduce-middle-right-title">套餐一的名称 或许大概这里有点长</p></a>

                    <p class="Introduce-middle-right-span">
                        套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍。套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍。</p>

                    <p class="hana-span fl"><a href="javascript:;"> <img src="images/hand.png"/></a>
                        <span class="hind">1888</span></p>
                    <a href="javascript:;">
                        <div class="look fr">查看详情</div>
                    </a>
                </div>
            </div>
            <div class="Introduce-middle fl" style="margin-top:22px">
                <img class="Introduce-middle-img fl" src="images/introduce.png"/>

                <div class="Introduce-middle-right fl">
                    <a href="javascript:;"><p class="Introduce-middle-right-title">套餐一的名称 或许大概这里有点长</p></a>

                    <p class="Introduce-middle-right-span">
                        套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍。套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍。</p>

                    <p class="hana-span fl"><a href="javascript:;"> <img src="images/hand.png"/></a>
                        <span class="hind">1888</span></p>
                    <a href="javascript:;">
                        <div class="look fr">查看详情</div>
                    </a>
                </div>
            </div>
            <div class="Introduce-middle fl" style="margin-top:22px">
                <img class="Introduce-middle-img fl" src="images/introduce.png"/>

                <div class="Introduce-middle-right fl">
                    <a href="javascript:;"><p class="Introduce-middle-right-title">套餐一的名称 或许大概这里有点长</p></a>

                    <p class="Introduce-middle-right-span">
                        套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍。套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍套餐介绍，套餐介绍套餐介绍套餐介绍套餐介绍。</p>

                    <p class="hana-span fl"><a href="javascript:;"> <img src="images/hand.png"/></a>
                        <span class="hind">1888</span></p>
                    <a href="javascript:;">
                        <div class="look fr">查看详情</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="Introduce-arrow fr">
            <div class="arrow fl">
                <p class="arrow-title">今日已有<span class="arrow-title-span">2637</span>人获取装修方案
                </p>

                <div class="arrow-content">
                    <input class="arrow-square1" type="text" value="建筑面积 m2"/>

                    <div class="arrow-square1 fl">
                        <select>
                            <option value="">小区</option>
                            <option value="">小区</option>
                        </select>
                    </div>
                    <input class="arrow-square1" type="text" value="姓名"/>
                    <input class="arrow-square1" type="text" value="手机号"/>
                <span style="color:#a0a0a0;font-size:14px;padding:6px" class="fl">装修风格
            </span>

                    <div class="arrow-square1 fl">
                        <select>
                            <option value="">地中海风情</option>
                            <option value="">地中海风情</option>
                        </select>
                    </div>
                    <input class="submit" type="submit" value="获取方案"/>
                </div>
            </div>
        </div>
        <div class="Introduce-pic fr"></div>
    </div>
</div>
</div>
<div class="z-intro">
    <span class="choice-span"><<上一页</span>
    <span class="choice-short">1</span>
    <span class="choice-short">2</span>
    <span class="choice-short">3</span>
    <span class="choice-short">4</span>
    <span class="choice-short">5</span>
    <span class="choice-short choice-span">下一页>></span>
</div>
{template "content","footer"}