{template "content","header"}
<!--banner-->
<div class="home-banner">
    <div class="home-banner-center">
        <form action="?index.php&m=content&c=index&a=search" method="post">
            <div class="home-banner-border fl">
                <input class="border-content fl" type="text" name="q" placeholder="输入小区名查找其案例、小区服务团队" />

                <input class="orange-span fr search-btn"  type="submit" value="立即查找">

            </div>
        </form>
        <form action="index.php?m=content&c=index&a=addplan" method="post">
            <div class="border-right fr">
                <p class="arrow-title">今日已有
                    <span class="arrow-title-span" id="num"></span>人获取装修方案</p>
                <div class="arrow-content">
                    <input class="arrow-square1" type="text" name="area" placeholder="建筑面积 m2"/>


                    <select class="arrow-square1 City_select" name="city_name">
                        <option value="">选择小区</option>
                    </select>

                    <input class="arrow-square1" type="text" name="name" placeholder="姓名"/>
                    <input class="arrow-square1" type="text" name="phone" placeholder="手机号"/>
                    <span style="color:#fff;font-size:14px;padding:6px" class="fl">装修风格</span>


                    <select class="arrow-square1 fl Style_select" name="style_name">
                        <option value="">选择风格</option>
                    </select>

                    <input class="submit btn_plan" type="submit" value="获取方案"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--中间内容-->
<div class="z-taocan-contact">
    <div class="z-taocan-content">
        <div class="home-left fl">
            <div class="home-left-one">

                <span id="city_num"> </span>

                <span class="home-left-one-span fl">小区数 </span>
            </div>
            <input class="input btn_alert" type="button" value="+添加小区">
            <p class="input-bottom">欢迎添加您的小区，以便我们提供更多的精品案例。
            </p>
        </div>
        <!--右边-->
        <div class="home-right fl">
            <div class="home-right">

                {pc:content action="lists" num="5" catid="$catid" order="listorder DESC,inputtime DESC" page="$page" moreinfo="1"}
                {loop $data $r}
                <!--<?php var_dump($data); ?>-->
                <div class="home-right-top">
                    <div class="right-top-one">
                        <div class="home-img fl" style="background: url({$r[thumb]});background-size: 100%"></div>
                        <div class="right-top-two fl" style="position: relative;">
                            <p class="top-two-title">{$r[title]}</p>
                            <div class="top-two-title-span">
                                <img style="padding-top:8px" src="web/images/orange-address.png" />
                                <span class="top-two-title-span">{$r[address]}</span>
                            </div>
                            <p class="top-two-title-span">
                                <img src="web/images/blue-man.png" />
                                <span class="top-two-title-span">{$r[population]}人</span>
                            </p>
                            <div class="add_city_btn fr red-border" >+ 加入小区</div>
                            <img src="{$r[code]}" alt="" class="city_code fr" style="display: none" width="164" height="164" >


                        </div>

                        <!--<input class="red-border fr add_city_btn " type="button" value=" + 加入小区">-->

                    </div>
                    <div class="right-top-bottom fl">
                        <img class="fl" src="{$r[pic1]}" width="164" height="164" />
                        <img class="fl" src="{$r[pic2]}" width="164" height="164" />
                        <img class="fl" src="{$r[pic3]}" width="164" height="164" />

                    </div>
                </div>
                {/loop}
                {/pc}


            </div>
            <div style="width:700px;height:60px;margin-left:130px;margin-top:30px">
                {$pages}
                <!--<span class="choice-span"><<上一页</span>-->
                <!--<span class="choice-short">1</span>-->
                <!--<span class="choice-short">2</span>-->
                <!--<span class="choice-short">3</span>-->
                <!--<span class="choice-short">4</span>-->
                <!--<span class="choice-short">5</span>-->
                <!--<span class="choice-short choice-span">下一页>></span>-->
            </div>
        </div>
    </div>
</div>
<!-- 添加小区弹框-->
<!-- <div class="mask mask02" data-alert="0">
    <div class="alert-box">
        <input type="text" name="city_name" class="input-box city_name" placeholder="小区名称">
        <input type="text" class="input-box" name="city_address" placeholder="小区位置">
        <input type="submit" class=" btn-red  btn-submit submit-btn" value="立即提交">
        <input type="button" class=" btn-red  btn-submit cancle" value="取消">
    </div>
</div> -->
<!-- end弹框-->
<!--添加小区弹框-->
<div class="mask" data-open="0"  style="display: none">
    <div class="alert">
        <input type="text" class="arrow-square" name="city_name1" style="position: absolute;left: 50%;margin-left: -112px;top: 50px;" placeholder="请输入小区名称">
        <input type="text" class="arrow-square" name="city_address" style="position: absolute;left: 50%;margin-left: -112px;top: 100px;" placeholder="请输入小区位置">
        <input class="input btn_city btn_add" type="button" style="position: absolute;left: 50%;margin-left: -80px;bottom: 50px;" value="+添加小区">
        <input type="button" class="input btn_city cancle" style="position: absolute;left: 50%;margin-left: -80px;top:200px;" value="取消">
    </div>
</div>
<!--end 添加小区-->
{template "content","footer"}
<script>
   
    //弹框事件
    $('.btn_alert,.cancle').click(function(){

        if(!$('.mask').data('open')){

            $('.mask').show();
            $('.mask').data("open",1);

        }
        else{
            $('.mask').hide();
            $('.mask').data("open",0);
        }
        // 弹框居中
         $(".mask").css({
            "height":$("body").height()+1500
        })
        var windowHeight = $(window).height(),      //获取当前窗口高度
        scrollHeight = $(document).scrollTop(),    //相对滚动条上侧的偏移值
        dialogBoxHeight = $(".alert").height() + 2,
        dialogBoxTop = windowHeight * 0.5,      //动态top值
        dialogBoxMarTOP = 0 - (dialogBoxHeight/2) + scrollHeight;   //动态margin-top值
        $(".alert").css({"top" : dialogBoxTop + "px", "margin-top":dialogBoxMarTOP + "px"  });

    });
    $('.add_city_btn').hover(function(){
        $(this).next().show();
    },function(){
        $(this).next().hide();
    });

    //ajax添加小区
    var siteurl = '{siteurl($siteid)}';
    $('.btn_add').click(function(){

        var city_name = $('[name="city_name1"]').val();
        var city_address = $('[name="city_address"]').val();
        if(city_name==''){
            alert("请输入小区名称！");
            return false;
        }else  if(city_address==''){
            alert("请输入小区位置！");
            return false;
        }

        $.ajax({

            type :"POST",
            dataType: "json",
            url: siteurl+"/index.php?m=content&c=index&a=add_city",
            data:{
                city_name: city_name,
                city_address:city_address,
            },
            success:function(data){

                alert(data.content);
                if(data.tag==1){
                    location.href=window.location.href;
                }
            }
        });

    });

    //ajax获取今日记录
    // var siteurl = '{siteurl($siteid)}';

    $.ajax({

        type :"POST",
        dataType: "json",
        url: siteurl+"/index.php?m=content&c=index&a=get_today",
        success:function(data){


            $('#num').html(data);
        }
    });


    //ajax获取小区数
    $.ajax({

        type :"POST",
        dataType: "json",
        url: siteurl+"/index.php?m=content&c=index&a=get_city_num",
        success:function(data){



            var length=data.length;
            for(var i=0;i<length;i++){
                $('#city_num').html(data[i].num);
            }



        }
    });

    //ajax 加载小区
    $.ajax({

        type :"POST",
        dataType: "json",
        url: siteurl+"/index.php?m=content&c=index&a=getcity",
        success:function(data){
            var length=data.length;
            for(var i=0;i<length;i++){
                var html = "<option id='city_id" + data[i].id + "'value='" + data[i].city_name + "' >" + data[i].city_name + "</option>";
                $(".City_select").append(html);
            }
        }
    });

    //ajax 加载装修风格
    $.ajax({

        type :"POST",
        dataType: "json",
        url: siteurl+"/index.php?m=content&c=index&a=getstyle",
        success:function(data){
            var length=data.length;
            for(var i=0;i<length;i++){
                var html = "<option id='style_id" + data[i].id + "'value='" + data[i].style_name + "' >" + data[i].style_name + "</option>";
                $(".Style_select").append(html);
            }
        }
    });

    //ajax提交数据

//    $('.btn_plan').click(function(){
//
//        var area = $('[name="area"]').val();
//        var city_id = $('[name="city_id"]').val();
//        var name = $('[name="name"]').val();
//        var phone = $('[name="phone"]').val();
//        var style_id = $('[name="style_id"]').val();
//
//        $.ajax({
//
//            type :"POST",
//            dataType: "json",
//            url: siteurl+"/index.php?m=content&c=index&a=addplan",
//            data:{
//                area: area,
//                city_name: city_id,
//                name: name,
//                phone: phone,
//                style_name: style_id,
//
//            },
//            success:function(data){
//                alert("success");
//                console.log(data);
//            },
//            error: function(err){
//                alert("Ajax error!");
//            }
//        });
//
//    });
</script>