{template "content","header"}
<div class="video-contanier">
    <div class="video-content">
        <p class="video-content-link">
            <a href="javascript:;"><span>首页 > </span></a>{catpos($catid)} 详情</p>
        </p>
    </div>
    <div class="video-content1">
        <!--<div>-->
        <p class="video-content1-title">{$title}</p>
        <div class="z-video-content1-dash">
            <p class=" video-content1-p " >
                <!--<img class="fl" style="padding-top:5px;padding-right:3px" src="web/images/icon5.png" />-->
					<!--<span class="video-content1-span fl">点击<span id="hits"></span>-->
		 				<!--<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script></span>-->
                <!--<img class="fl" style="padding:5px 0px 0px 47px" src="web/images/icon6.png" />-->
                <!--&lt;!&ndash;<span class="video-content1-span fl">{date('Y-m-d',$inputtime)}</span>&ndash;&gt;-->
                <!--<span class="video-content1-span fl">{date('Y-m-d',strtotime($inputtime))}</span>-->
            </p>
        </div>
        <div class="z-movie">
            {$content}


        </div>
        <!--<div class="z-movie-p">-->
            <!--<a href="javascript:;"><p class="News-last">上一条: {$previous_page[title]}</a></p>-->
            <!--<a href="javascript:;"><p class="News-last" style="margin-top:5px">下一条：{$next_page[title]}</a></p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

{template "content","footer"}